# ===========================================================
# Flutter / Dart
# ===========================================================
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
coverage/
*.lock

# iOS / macOS build artifacts
**/DerivedData/
**/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android build
android/app/build/

# Web
web/.dart_tool/
web/build/

# ===========================================================
# Editor / IDE
# ===========================================================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Misc
*.log
*.tmp
*.swp
.DS_Store
.history
.atom/

# ===========================================================
# Environment Files
# ===========================================================
.env

# ===========================================================
# Firebase Secret Files (DO NOT UPLOAD TO GITHUB)
# ===========================================================
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
